---
layout: base
---

<h1 class="text-3xl text-light font-bold">All categories</h1>

<div class="mx-auto mt-8 max-w-2xl lg:mx-0 lg:max-w-none">
    {% for tag in site.tags %}
      <h2 class="text-xl font-medium mb-4 text-light hover:text-secondary hover:underline">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
          </svg><a href="/category/{{ tag[0] | slugify }}">{{ tag[0] | capitalize | replace:"-"," "}} ({{ tag[1].size }})</a>
      </h2>
    {% endfor %}
</div>