---
layout: base
---

<p class="text-sm text-secondary italic">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
    </svg>
    <a href="/" class="hover:underline cursor-pointer">{{ site.content.link-back-to-home }}</a>
</p>
<h1 class="text-3xl text-light font-bold">Category: {{ page.title }}</h1>

<div class="mx-auto mt-8 grid grid-cols-1 gap-12 lg:mx-0 lg:max-w-none md:grid-cols-2 2xl:grid-cols-3">
    {% for tag in site.tags %}
      {% if tag[0] == page.category %}
        {% for post in tag[1] %}
          {% include post-card.html post=post %}
        {% endfor %}
      {% endif %}
    {% endfor %}
</div>