---
layout: base
---

<p class="text-sm text-secondary italic">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
    </svg>
    <a href="/" class="hover:underline cursor-pointer">{{ site.content.link-back-to-home }}</a>
</p>
<h1 class="text-3xl text-light font-bold prose prose-dismantle max-w-3xl">{{ page.title }}</h1>
<p class="mt-2 text-xs text-light/80">{{ page.date | date_to_long_string }} • {% include reading_time.html content=page.content %}</p>

<div class="mt-8 prose prose-dismantle text-light">{{ content }}</div>